.main-grid {
  max-width: 100vh;
  padding: 0;
}

body {
  margin: 0px;
  font-family: $font-family-sans-serif;
  background-color: $uoc-bg;
  color: $uoc-corporate;

}

.main-bg{
  text-align: center;
  background-image: url("../images/image-from-rawpixel-id-2273396-jpeg.jpeg");
  background-size: cover;
  

}

.about{
background-color:rgba(255, 255, 255, 0.5);
}
/* .uoc-title {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
  color: $uoc-corporate;
} */


a{
  text-decoration: none;
  margin: 10px;
}

.item {
  background-color: $color-background;
  margin: 0 auto;
 
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
}

.container-academic {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
}


.logo{
  width: 100px;
  margin: -2vh 0vh;
}

.logo-title{
  margin: auto 1vh;
}

.logo-container, .logo-container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container-b{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-b{
  margin: 3vh;
}

.contact-footer{
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

/* blog */

.container-img {
  position: relative;
}

.center-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.subcenter-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
}

.img-blog { 
  max-width: 100%;
  height: auto;
  opacity: 0.3;
}

.img-blog-container{
  max-width: 100%;
}

.main-blog{
  text-align: center;
}

.container-blog{
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
}

.footer-social-blog{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;

}

.footer-social-blog svg{
  margin: 10px;
}

.container-central-members{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.form-contact{
  margin: 20px
}

.space-form{
  margin-top: 20px;
}


@supports (display:grid) {
@media only screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    align-items: center;
  }

  
}

@media only screen and (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1rem;
    align-items: center;
  }
}
}

// Grid layout for wide display
@supports (display:grid) {
  @media (min-width: 800px) and (min-height: 500px) {
    .main-grid {
      max-width: none;
      padding: 0;
      display: grid;
      grid-template-columns: 25% 15% 15% 15% 15% 15%;
      grid-template-rows: 10vh 20vh 25vh 20vh 15vh 10vh;
    }

 .main-bg{
  background-image: url("../images/image-from-rawpixel-id-2273396-jpeg.jpeg");
  background-size: cover;
}


    .about {
      grid-column: 4 / 6;
      grid-row: 3;
      
    }

.logo-container{
  grid-column: 1;
      grid-row: 1;
      display: flex;
}



    .nav-1{
      grid-column: 2;
      grid-row: 1;
      text-align: center;
      margin: auto;
    }

    .nav-2{
      grid-column: 3;
      grid-row: 1;
      text-align: center;
      margin: auto;
    }

    .nav-3{
      grid-column: 4;
      grid-row: 1;
      text-align: center;
      margin: auto;
    }

    .nav-4{
      grid-column: 5;
      grid-row: 1;
      text-align: center;
      margin: auto;
    }

    .foot-1{
      grid-column: 2;
      grid-row: 6;
      text-align: center;
      margin: auto;
    }

    .foot-2{
      grid-column: 3;
      grid-row: 6;
      text-align: center;
      margin: auto;
    }

    .foot-3{
      grid-column: 4;
      grid-row: 6;
      text-align: center;
      margin: auto;
    }

    .foot-4{
      grid-column: 5;
      grid-row: 6;
      text-align: center;
      margin: auto;
    }

    .logo-container-footer{
      grid-column: 1;
          grid-row: 6;
          display: flex;
    }

    .contact-footer{
      grid-column: 1 / 7;
      grid-row: 5;
      background-color:rgba(0, 0, 0, 0.5);
      margin: 0vh -100vh;
      padding: 10px;
    }

    .contact-footer p{
      color: white;
      text-align: center;
      margin: 5vh;

    }

    .footer-media{
      grid-column: 6;
      grid-row: 6;
      color: black;
     display: flex;
     margin: auto;
    }

    .footer-media svg{
      margin: 5px;
    }


   /*  .location {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      z-index: 2;
      background: $uoc-corporate;
      text-align: center;
      display: flex; 

      p {
        margin: auto;
      }
    }*/

    .main-blog{
      text-align: center;
    }
    

  }

  
}



